/* Global styling */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #000000 0%, #251203 30%, #b75a18 100%);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Typography */
h4 {
  font-weight: bold;
  position: absolute;
  top: 2%;
  left: 2%;
  font-weight: bold;
  color: #ff5722; /* Orange for competitive feel */
  margin-bottom: 20px;
}

/* List styling */
.MuiList-root {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: row;
  position: relative;
  top: 0vh;
  left: 5vh;
  gap: 30px;  /* Add gap between household boxes */
}
