.membersContainer {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.membersList {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

.memberCard {
  width: 100%;
}
